Options +FollowSymLinks
RewriteEngine On

# These folders will be directly accessible without any interference from Mudpuppy. If you don't want anything
# to be accessible prior to authentication, comment these out and do manual pass-through as needed in your HomeModule.
RewriteCond %{REQUEST_URI} !^/(js|css|fonts|html|images)/

#=======================================================================================================================
# !!! Disable in production !!!
#-----------------------------------------------------------------------------------------------------------------------
RewriteCond %{REQUEST_URI} !^/mudpuppy/admin/(bootstrap|css|images|js)/
#=======================================================================================================================

# Always let the favicon and robots.txt through
RewriteCond %{REQUEST_URI} !^/(favicon.ico|robots.txt)$

# Everything else goes to the index
RewriteCond %{REQUEST_URI} !^/index.php/
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
