Options +FollowSymLinks
RewriteEngine On
RewriteRule ^api/(.*)$ /mudpuppy/api.php/$1 [L,QSA]

#these folders will be directly accessible without user authentication
RewriteCond %{REQUEST_URI} !^/(js|css|fonts|html|images)/

#disable these conditions in production
RewriteCond %{REQUEST_URI} ^/errors$
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]
RewriteRule ^errors/?(.*)$ /mudpuppy/errorlog/$1 [L,QSA]

RewriteCond %{REQUEST_URI} !^/errors/
RewriteCond %{REQUEST_URI} !^/mudpuppy/errorlog/
RewriteCond %{REQUEST_URI} !^/mudpuppy/dataobjects/_updateDataObjects.php
#end disable for production
RewriteCond %{REQUEST_URI} !^/[0-9]+/
RewriteCond %{REQUEST_URI} !^/index.php/
RewriteCond %{REQUEST_URI} !^/mudpuppy/api.php/
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
