#=======================================================================================================================
# This file is part of the Mudpuppy PHP framework, released under the MIT License. See LICENSE for full details.
#=======================================================================================================================

Options +FollowSymLinks
RewriteEngine On

# These folders will be directly accessible without any interference from Mudpuppy. If you don't want anything
# to be accessible prior to authentication, comment this out and do manual pass-through as needed.
RewriteCond %{REQUEST_URI} !^/content/

# Always let the favicon and robots.txt through
RewriteCond %{REQUEST_URI} !^/(favicon.ico|robots.txt|crossdomain.xml)$

# Everything else goes to the index
RewriteCond %{REQUEST_URI} !^/index.php/
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
